{% extends "base.html" %}

{% block title %}
Enquiries
{% endblock %}

{% block content %}
<head>

	<style>
	#myInput {
		background-image: url('/static/images/searchIcon.png');
		background-position: 8px 4px;
		background-repeat: no-repeat;
		width: 75%;
		font-size: 16px;
		padding-left: 40px;
		border: 1px solid #ddd;
		margin-bottom: 12px;
	}
	th {
		cursor: pointer;
	}
</style>

<script type="text/javascript">
	$('#myModal').on('shown.bs.modal', function () {
		$('#myInput').trigger('focus')
	})
	
	function sortTable(n) {
		var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
		table = document.getElementById("myTable");
		switching = true;
		dir = "asc"; 
		while (switching) {
			switching = false;
			rows = table.rows;
			for (i = 1; i < (rows.length - 1); i++) {
				shouldSwitch = false;
				x = rows[i].getElementsByTagName("TD")[n].innerHTML.toLowerCase();
				y = rows[i + 1].getElementsByTagName("TD")[n].innerHTML.toLowerCase();
				if (dir == "asc") {
					if (x > y) {
						shouldSwitch = true;
						break;
					}
				} else if (dir == "desc") {
					if (x < y) {
						shouldSwitch = true;
						break;
					}
				}
			}
			if (shouldSwitch) {
				rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
				switching = true;
				switchcount ++; 
			} else {
				if (switchcount == 0 && dir == "asc") {
					dir = "desc";
					switching = true;
				}
			}
		}
	}

	function myFunction() {
		var input, filter, table, tr, td, i;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");
		col = $( "#searchParam" ).val();
		for (i = 1; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[col];
			if (td) {
				if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
	}
</script>
</head>

<body>

	<div class="container" style="max-width: 90%;">
		<h1>Enquiries</h1>
		<div class="input-group">
			<input  id="myInput" type="text" onkeyup="myFunction()" placeholder="Search.." class="form-control" aria-label="Text input with dropdown button">
			<select id="searchParam" class="form-control" id="searchby" name="searchparam">
				<option value="1">Customer</option>
				<option value="3">Site</option>
				<option value="6">Priority</option>
				<option value="5">Follow-Up Date</option>
			</select>
		</div>

		<table id="myTable" class="table table-striped" >
			<thead class="thead">
				<tr>
					<th>Entered</th>
					<th onclick="sortTable(1)">Customer<i class="fa fa-fw fa-sort"></th>
					<th>Contact</th>
					<th>Site</th>
					<th>Site Number</th>
					<th>Follow-Up Date</th>
					<th onclick="sortTable(6)">Priority<i class="fa fa-fw fa-sort"></th>
					<th>Logged By</th>
					<th>Notes</th>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>{{ row.entered_date }}</td>
					<td>{{ row.customer }}</td>
					<td><button data-toggle="modal" data-target="#modal{{row.id}}" class="btn btn-link">{{ row.contact_name }}</button></td>
					<td>{{ row.site }}</td>
					<td>{{ row.site_number }}</td>
					<td>{{ row.follow_up_date }}</td>
					{% if row.priority == 1 %}
					<td style="color: red;">{{ row.priority|replace("1", "High") }}</td>
					{% else %}
						{% if row.priority == 2 %}
						<td style="color: orange;">{{ row.priority|replace("2", "Medium")}}</td>
						{% else %}
						<td style="color: green;">{{ row.priority|replace("3", "Low") }}</td>
						{% endif %}					
					{% endif %}					
					<td>{{ row.logged_by }}</td>
					<td>{{ row.notes }}</td>
				</tr>
				<!-- Modal -->
				<div class="modal fade" id="modal{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Contact Information - {{row.contact_name}}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<img src="/static/images/contact.png" style="float: right; width: 20%;">
							<b>Customer:</b> {{row.customer}}<br>
							<b>Contact No:</b> {{row.contact_number}}<br>
							<b>Contact email:</b> {{row.contact_email}}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</tbody>
		</table>
	</div>

</body>
{% endblock %}